## Homework #1

### Set up the environment

You need to install Python, NumPy, Pandas, Matplotlib and Seaborn. For that, you can the instructions from <a href='https://github.com/alexeygrigorev/mlbookcamp-code/blob/master/course-zoomcamp/01-intro/06-environment.md'>06-environment.md</a>.

In [ ]:
import numpy as np
import pandas as pd

### Question 1

What's the version of NumPy that you installed?

You can get the version information using the `__version__` field:

In [ ]:
np.__version__

'1.21.6'

### Getting the data

For this homework, we'll use the Car price dataset. Download it from <a href='https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv'>here</a>. 

You can do it with wget:
```bash
wget https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv
```
Or just open it with your browser and click "Save as...".

Now read it with Pandas.

In [ ]:
data = pd.read_csv("https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv")

### Question 2

How many records are in the dataset?

Here you need to specify the number of rows.

In [ ]:
data.shape[0]   # alternative is len(data.index)

11914

### Question 3

Who are the most frequent car manufacturers (top-3) according to the dataset?

In [ ]:
data['Make'].value_counts().head()

Chevrolet     1123
Ford           881
Volkswagen     809
Toyota         746
Dodge          626
Name: Make, dtype: int64

### Question 4

What's the number of unique Audi car models in the dataset?

In [ ]:
data[data['Make'] == 'Audi']['Model'].nunique()

34

### Question 5

How many columns in the dataset have missing values?

In [ ]:
data.isnull().sum()

Make                    0
Model                   0
Year                    0
Engine Fuel Type        3
Engine HP              69
Engine Cylinders       30
Transmission Type       0
Driven_Wheels           0
Number of Doors         6
Market Category      3742
Vehicle Size            0
Vehicle Style           0
highway MPG             0
city mpg                0
Popularity              0
MSRP                    0
dtype: int64

We can see that 5 columns have missing values.

We can also calculate it in one line:

In [ ]:
(data.isnull().sum() != 0).sum()

5

### Question 6



1. Find the median value of "Engine Cylinders" column in the dataset.
2. Next, calculate the most frequent value of the same "Engine Cylinders". 
3. Use the `fillna` method to fill the missing values in "Engine Cylinders" with the most frequent value from the previous step.
4. Now, calculate the median value of "Engine Cylinders" once again.

Has it changed?

In [ ]:
data['Engine Cylinders'].value_counts()

4.0     4752
6.0     4489
8.0     2031
12.0     230
5.0      225
10.0      68
0.0       56
3.0       30
16.0       3
Name: Engine Cylinders, dtype: int64

In [ ]:
median_engine_cyl = data['Engine Cylinders'].median()
median_engine_cyl

6.0

In [ ]:
mode_engine_cyl = data['Engine Cylinders'].mode()[0]
mode_engine_cyl

4.0

In [ ]:
data['Engine Cylinders'].fillna(mode_engine_cyl).median()

6.0

No, it's left the same.

### Question 7

1. Select all the "Lotus" cars from the dataset.
2. Select only columns "Engine HP", "Engine Cylinders".
3. Now drop all duplicated rows using `drop_duplicates` method (you should get a dataframe with 9 rows).
4. Get the underlying NumPy array. Let's call it `X`.
5. Compute matrix-matrix multiplication between the transpose of `X` and `X`. To get the transpose, use `X.T`. Let's call the result `XTX`.
6. Invert `XTX`.
7. Create an array `y` with values `[1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800]`.
8. Multiply the inverse of `XTX` with the transpose of `X`, and then multiply the result by `y`. Call the result `w`.
9. What's the value of the first element of `w`?

In [ ]:
lotus_df = data[data['Make'] == 'Lotus']
lotus_df = lotus_df[['Engine HP', 'Engine Cylinders']]
lotus_df = lotus_df.drop_duplicates()
lotus_df

      Engine HP  Engine Cylinders
3912      189.0               4.0
3913      218.0               4.0
3918      217.0               4.0
4216      350.0               8.0
4257      400.0               6.0
4259      276.0               6.0
4262      345.0               6.0
4292      257.0               4.0
4293      240.0               4.0

In [ ]:
X = lotus_df.to_numpy()
XTX = X.T @ X
XTX_inv = np.linalg.inv(XTX)
XTX_inv

array([[ 5.53084235e-05, -2.94319825e-03],
       [-2.94319825e-03,  1.60588447e-01]])

In [ ]:
y = np.array([1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800])

In [ ]:
w = (XTX_inv @ X.T) @ y

In [ ]:
w[0]

4.594944810094551

> **Note**: we just implemented normal equation


$$w = (X^T X)^{-1} X^T y$$


We'll talk about it more in the next week (Machine Learning for Regression)